<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.CapitalMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.Capital">
		<id column="capital_id" property="capitalId" />
		<result column="user_id" property="userId" />
		<result column="capital" property="capital" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<select id="selectForUpdate" resultMap="BaseResultMap" resultType="com.baomidou.springwind.entity.Capital" parameterType="String">
		select * from capital where user_id = #{userId} for update
	</select>

	<update id="update" parameterType="com.baomidou.springwind.entity.Capital">
		update capital
		<set>
			<if test="#{capital} != null">
				capital = #{capital},
			</if>
			<if test="#{updateTime}!=null">
				update_time = #{updateTime}
			</if>
		</set>
		where capital_id = #{capitalId}
	</update>
</mapper>
