<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.ManagerMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.Manager">
		<id column="user_id" property="userId" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="role" property="role" />
	</resultMap>

	<resultMap id="BaseResultMap1" type="com.baomidou.springwind.entity.Manager">
		<id column="user_id" property="userId" />
		<result column="account" property="account" />
		<result column="role" property="role" />
		<association property="managerRole" javaType="com.baomidou.springwind.entity.ManagerRole">
			<result column="role" property="roleId" />
			<result column="role_name" property="roleName" />
		</association>
	</resultMap>

	<select id="login" parameterType="com.baomidou.springwind.entity.Manager" resultMap="BaseResultMap">
		select user_id,account,role
		from manager
		where account = #{account} and password = #{password}
	</select>
	<select id="queryManager" resultMap="BaseResultMap1" parameterType="com.baomidou.springwind.entity.RequestInfo">
		select *
		from manager
		left join manager_role on (manager.role = manager_role.role_id)
		where manager.role != 1
		<if test="searchString != null">
			manager.account like "%"#{searchString}"%" or
			manager_role.role_name like "%"#{searchString}"%"
		</if>
	</select>

	<select id="queryCount" resultType="java.lang.Integer" parameterType="com.baomidou.springwind.entity.RequestInfo">
		select count(manager.user_id)
		from manager
		left join manager_role on (manager.role = manager_role.role_id)
		where manager.role != 1
		<if test="searchString != null">
			manager.account like "%"#{searchString}"%" or
			manager_role.role_name like "%"#{searchString}"%"
		</if>
	</select>
</mapper>
