<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.springwind.mapper.RentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="ResultMap" type="com.baomidou.springwind.entity.Rent">
		<id column="rent_id" property="rentId" />
		<result column="user_id" property="userId" />
		<result column="idel_id" property="idelId" />
		<result column="status" property="status" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="last_rental" property="lastRental"/>
	</resultMap>

	<resultMap id="BaseResultMap" type="com.baomidou.springwind.entity.Rent">
		<id column="rent_id" property="rentId" />
		<result column="user_id" property="userId" />
		<result column="idel_id" property="idelId" />
		<result column="status" property="status" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="last_rental" property="lastRental"/>
		<association property="student" javaType="com.baomidou.springwind.entity.Student">
			<id column="user_id" property="userId" />
			<result column="student_id" property="studentId" />
			<result column="user_name" property="userName" />
			<result column="credit" property="credit" />
			<result column="user_icon" property="userIcon" />
		</association>
	</resultMap>

	<resultMap id="MineResultMap" type="com.baomidou.springwind.entity.Rent">
		<id column="rent_id" property="rentId" />
		<result column="user_id" property="userId" />
		<result column="idel_id" property="idelId" />
		<result column="status" property="status" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="last_rental" property="lastRental"/>
		<association property="idleInfo" javaType="com.baomidou.springwind.entity.IdleInfo">
			<id column="info_id" property="infoId" />
			<result column="classify_id" property="classifyId" />
			<result column="idel_info" property="idelInfo" />
			<result column="destory_info" property="destoryInfo" />
			<result column="deposit" property="deposit" />
			<result column="retal" property="retal" />
			<result column="retal_type" property="retalType" />
			<result column="info_status" property="status" />
			<result column="create_date" property="createDate" />
			<result column="title" property="title"/>
			<result column="end_date" property="endDate" />
			<result column="user_id" property="userId" />
			<result column="address" property="address"/>
		</association>
	</resultMap>

	<resultMap id="DailyMap" type="com.baomidou.springwind.entity.Rent">
		<id column="rent_id" property="rentId" />
		<result column="user_id" property="userId" />
		<result column="idel_id" property="idelId" />
		<result column="status" property="status" />
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="last_rental" property="lastRental"/>
		<association property="idleInfo" javaType="com.baomidou.springwind.entity.IdleInfo">
			<id column="info_id" property="infoId" />
			<result column="classify_id" property="classifyId" />
			<result column="idel_info" property="idelInfo" />
			<result column="destory_info" property="destoryInfo" />
			<result column="deposit" property="deposit" />
			<result column="retal" property="retal" />
			<result column="retal_type" property="retalType" />
			<result column="info_status" property="status" />
			<result column="create_date" property="createDate" />
			<result column="title" property="title"/>
			<result column="end_date" property="endDate" />
			<result column="u_id" property="userId" />
			<result column="address" property="address"/>
		</association>
	</resultMap>

	<select id="queryList" resultMap="BaseResultMap" parameterType="com.baomidou.springwind.entity.IdleInfo">
		select rent.*,student.student_id,student.user_name,student.credit,student.user_icon
		from rent
		left join student on (rent.user_id = student.user_id)
		where idel_id = #{infoId} and rent.status != 6
	</select>

	<select id="getCountOfRequest" resultType="Integer" parameterType="com.baomidou.springwind.entity.Rent">
		select count(rent.user_id)
		from rent
		where rent.status != 6 and idel_id = #{idelId}
		group by user_id
	</select>

	<select id="getCanRent" resultMap="ResultMap" parameterType="com.baomidou.springwind.entity.Rent">
		select *
		from rent
		where user_id = #{userId} and idel_id = #{idelId} and status not in (2,3,6)
	</select>

	<select id="selectForUpdate" resultMap="ResultMap" parameterType="com.baomidou.springwind.entity.Rent">
		select *
		from rent
		where idel_id = #{idelId} and status not in (2,3,6,101)
		<if test="rentId != null">
			and rent_id = #{rentId}
		</if>
		for update
	</select>

	<select id="dailyUpdate" resultMap="DailyMap" parameterType="com.baomidou.springwind.entity.Rent">
		select rent.*,idle_info.user_id as u_id,idle_info.retal,idle_info.info_id
		from rent
		left join idle_info on (rent.idel_id =  idle_info.info_id)
		where rent.status = 4
		for update
	</select>

	<select id="selectForUpdateById" resultMap="ResultMap" parameterType="com.baomidou.springwind.entity.Rent">
		select *
		from rent
		where rent_id = #{rentId}
		<if test="status != null">
			status = #{status}
		</if>
		for update
	</select>

	<select id="selectForPage" resultMap="MineResultMap" parameterType="com.baomidou.springwind.entity.RentExtend">
		select *,idle_info.status info_status
		from rent
		left join idle_info on (rent.idel_id = idle_info.info_id)
		where rent.user_id = #{userId} and rent.status not in (6,101)
		<if test="status != null">
			<choose>
				<when test="status == 1">
					and (rent.status = #{status} or rent.status = 9)
				</when>
				<when test="status == 2">
					and (rent.status = #{status} or rent.status = 3)
				</when>
				<when test="status == 4">
					and (rent.status = #{status} or rent.status = 8)
				</when>
				<otherwise>
					and rent.status = #{status}
				</otherwise>
			</choose>
		</if>
		limit #{start},#{pageSize}
	</select>

</mapper>
